body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.columns {
  /* border: black 1px solid; */
  display: flex;
  max-width: 1200px;
  width: 100%;
}
.left-column,
.right-column {
  width: 100%;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

/* Right Column */

.right-title {
  font-family: "Montserrat", sans-serif;
}

.right-paragraph {
  font-family: "Barlow", sans-serif;
}

.talk-btn {
  background-color: #1d1d1d;
  color: #fff;
  border: 1.5px solid #1d1d1d;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.talk-btn:hover {
  background-color: #000;
}

.work-btn {
  color: #fff;
  border: 1.5px solid #1d1d1d;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #1d1d1d;
}

.work-btn:hover {
  background-color: #1d1d1d;
  color: #fff;
}

.what-i-do {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
}

.skill {
  font-family: "Barlow", sans-serif;
  color: #1d1d1d;
  border: 2px solid;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.skill-1 {
  border-color: #30d9fa;
}
.skill-2 {
  border-color: #fd4fa0;
}
.skill-3 {
  border-color: #24c78b;
}
.laravel-color {
  color: #f72c1f;
}
.flutter-color {
  color: #54c5f8;
}
.dart-color {
  color: #0175c2;
}
.figma-color {
  color: #8A38F5;
}

/* First Column */

.my-image {
  border-radius: 30px;
  height: 200px;
  width: 200px;
}
.title {
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
}
.subtitle {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.skills-img{
    width: 70%;
    height: 55%;
    margin-right: 10px;
    /* border: black 1px solid; */
}

.selected-works {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
  display: flex;
  justify-content: center;
   
}

.first-row {
  /* border: black 1px solid; */
  display: flex;
  max-width: 1200px;
  width: 100%;
}
.ek,
.reserba {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.second-row {
  /* border: black 1px solid; */
  display: flex;
  max-width: 1200px;
  width: 100%;
}
.share-a-stay,
.reserba {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.tesda-best {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}



